body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.3rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 2.08rem;
}
.display-2 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.1rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 1.76rem;
}
.display-4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.44rem;
}
.display-5 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 0.9rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 1.44rem;
}
.display-7 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #00e0ff !important;
}
.bg-success {
  background-color: #572fa7 !important;
}
.bg-info {
  background-color: #0f7699 !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #149dcc !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #00e0ff !important;
  border-color: #00e0ff !important;
  color: #000000 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #000000 !important;
  background-color: #009db3 !important;
  border-color: #009db3 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #000000 !important;
  background-color: #009db3 !important;
  border-color: #009db3 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-success,
.btn-success:active {
  background-color: #572fa7 !important;
  border-color: #572fa7 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #381e6b !important;
  border-color: #381e6b !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #381e6b !important;
  border-color: #381e6b !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #008699;
  color: #008699;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000;
  background-color: #00e0ff;
  border-color: #00e0ff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #000000 !important;
  background-color: #00e0ff !important;
  border-color: #00e0ff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #062e3c;
  color: #062e3c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #0f7699;
  border-color: #0f7699;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #2e1957;
  color: #2e1957;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #572fa7;
  border-color: #572fa7;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #572fa7 !important;
  border-color: #572fa7 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #00e0ff !important;
}
.text-secondary {
  color: #149dcc !important;
}
.text-success {
  color: #572fa7 !important;
}
.text-info {
  color: #0f7699 !important;
}
.text-warning {
  color: #ffffff !important;
}
.text-danger {
  color: #149dcc !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #008699 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #0b566f !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #2e1957 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #062e3c !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #cccccc !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #0b566f !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0f7699;
}
.alert-warning {
  background-color: #ffffff;
}
.alert-danger {
  background-color: #149dcc;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #00e0ff;
  border-color: #00e0ff;
  color: #001619;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #00e0ff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ccf9ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #9b7cda;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #3cbfec;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b4e6f8;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #00e0ff;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #00e0ff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #00e0ff;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #00e0ff;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #00e0ff;
  border-bottom-color: #00e0ff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #00e0ff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #149dcc !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2300e0ff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-tHQRiiADtt {
  padding-top: 120px;
  padding-bottom: 105px;
  background-color: #000000;
}
.cid-tHQRiiADtt .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}
.cid-tHQRiiADtt .step {
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50%;
  border: 2px solid #149dcc;
  padding-bottom: 0;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .cid-tHQRiiADtt .separline .step-wrapper {
    position: relative;
  }
  .cid-tHQRiiADtt .separline .step-wrapper:before,
  .cid-tHQRiiADtt .separline .step-wrapper:after {
    top: 32px;
    position: absolute;
    content: "";
    height: 2px;
    width: calc(50% + 15px - 30px - 8px);
    background-color: #149dcc;
  }
  .cid-tHQRiiADtt .separline .step-wrapper:before {
    left: -15px;
  }
  .cid-tHQRiiADtt .separline .step-wrapper:after {
    left: calc(50% + 8px + 30px);
  }
  .cid-tHQRiiADtt .separline.last-child .step-wrapper:after,
  .cid-tHQRiiADtt .separline:nth-child(3n) .step-wrapper:after,
  .cid-tHQRiiADtt .separline:nth-child(3n+1) .step-wrapper:before {
    background: none;
  }
}
@media (max-width: 767px) {
  .cid-tHQRiiADtt .card:not(.last-child) {
    padding-bottom: 1.5rem;
  }
}
.cid-tHQRiiADtt .mbr-step-text {
  color: #ffffff;
}
.cid-tHQRiiADtt .mbr-section-title {
  color: #000000;
}
.cid-tEZmILEcMN {
  padding-top: 75px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tEZmILEcMN .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tEZmILEcMN .btn {
  margin: 0 0 .5rem 0;
}
.cid-tEZmILEcMN H2 {
  color: #ffffff;
}
.cid-tCwmqK2rLk {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tCwmqK2rLk .mbr-section-subtitle,
.cid-tCwmqK2rLk .mbr-text {
  color: #767676;
}
.cid-tCwmqK2rLk .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-tCwmqK2rLk .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tCwmqK2rLk .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-tCwmqK2rLk .card-wrapper .card-img .mbr-overlay {
  background-color: #000000;
  display: none;
  transition: opacity .3s;
}
.cid-tCwmqK2rLk .card-wrapper .card-img img {
  width: 100%;
}
.cid-tCwmqK2rLk .card-wrapper .card-box {
  background-color: #000000;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-tCwmqK2rLk .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-tCwmqK2rLk .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-tCwmqK2rLk .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-tCwmqK2rLk .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-tCwmqK2rLk .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-tCwmqK2rLk .card-title {
  color: #ffffff;
}
.cid-tF7FBMc8e0 {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-tF7FBMc8e0 .mbr-section-subtitle {
  color: #000000;
}
.cid-tF7FBMc8e0 .btn {
  margin: 0 0 .5rem 0;
}
.cid-tF7FBMc8e0 H2 {
  color: #000000;
}
.cid-tEZxJ8lSB6 {
  padding-top: 120px;
  padding-bottom: 105px;
  background-color: #000000;
}
.cid-tEZxJ8lSB6 .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}
.cid-tEZxJ8lSB6 .step {
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50%;
  border: 2px solid #149dcc;
  padding-bottom: 0;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .cid-tEZxJ8lSB6 .separline .step-wrapper {
    position: relative;
  }
  .cid-tEZxJ8lSB6 .separline .step-wrapper:before,
  .cid-tEZxJ8lSB6 .separline .step-wrapper:after {
    top: 32px;
    position: absolute;
    content: "";
    height: 2px;
    width: calc(50% + 15px - 30px - 8px);
    background-color: #149dcc;
  }
  .cid-tEZxJ8lSB6 .separline .step-wrapper:before {
    left: -15px;
  }
  .cid-tEZxJ8lSB6 .separline .step-wrapper:after {
    left: calc(50% + 8px + 30px);
  }
  .cid-tEZxJ8lSB6 .separline.last-child .step-wrapper:after,
  .cid-tEZxJ8lSB6 .separline:nth-child(3n) .step-wrapper:after,
  .cid-tEZxJ8lSB6 .separline:nth-child(3n+1) .step-wrapper:before {
    background: none;
  }
}
@media (max-width: 767px) {
  .cid-tEZxJ8lSB6 .card:not(.last-child) {
    padding-bottom: 1.5rem;
  }
}
.cid-tEZxJ8lSB6 .mbr-step-text {
  color: #ffffff;
}
.cid-tEZxJ8lSB6 .mbr-section-title {
  color: #000000;
}
.cid-tENFDmVRtj {
  background-color: #000000;
  background: linear-gradient(45deg, #000000, #000000);
}
.cid-tENFDmVRtj .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-tENFDmVRtj .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tENFDmVRtj .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-tENFDmVRtj .mbr-text {
    text-align: center;
  }
}
.cid-tENFDmVRtj H1 {
  color: #ffffff;
  text-align: center;
}
.cid-tENFDmVRtj .mbr-text,
.cid-tENFDmVRtj .mbr-section-btn {
  text-align: left;
}
.cid-tENFDmVRtj DIV {
  text-align: left;
}
.cid-tEZwg8PrFe {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tEZwg8PrFe .mbr-section-subtitle {
  color: #000000;
}
.cid-tEZwg8PrFe .btn {
  margin: 0 0 .5rem 0;
}
.cid-tEZwg8PrFe H2 {
  color: #000000;
}
.cid-tFFSVKlzqY {
  padding-top: 75px;
  padding-bottom: 75px;
  background: linear-gradient(0deg, #000000, #000000);
}
.cid-tFFSVKlzqY .mbr-iconfont-social {
  font-size: 32px;
  color: #ff3366;
}
.cid-tFFSVKlzqY .social-list a:focus {
  text-decoration: none;
}
.cid-tFFSVKlzqY H2 {
  color: #ffffff;
}
.cid-tFG2CPQcZE {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tHSo78LCJ6 {
  padding-top: 75px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tHSo78LCJ6 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tHSo78LCJ6 .btn {
  margin: 0 0 .5rem 0;
}
.cid-tHSo78LCJ6 H2 {
  color: #ffffff;
}
.cid-tHSo79bUky {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tHSo79bUky .mbr-section-subtitle,
.cid-tHSo79bUky .mbr-text {
  color: #767676;
}
.cid-tHSo79bUky .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-tHSo79bUky .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tHSo79bUky .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-tHSo79bUky .card-wrapper .card-img .mbr-overlay {
  background-color: #000000;
  display: none;
  transition: opacity .3s;
}
.cid-tHSo79bUky .card-wrapper .card-img img {
  width: 100%;
}
.cid-tHSo79bUky .card-wrapper .card-box {
  background-color: #000000;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-tHSo79bUky .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-tHSo79bUky .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-tHSo79bUky .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-tHSo79bUky .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-tHSo79bUky .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-tHSo79bUky .card-title {
  color: #ffffff;
}
.cid-tHSo7a1Vb5 {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-tHSo7a1Vb5 .mbr-section-subtitle {
  color: #000000;
}
.cid-tHSo7a1Vb5 .btn {
  margin: 0 0 .5rem 0;
}
.cid-tHSo7a1Vb5 H2 {
  color: #000000;
}
.cid-tHSo7bQCkH {
  background-color: #000000;
  background: linear-gradient(45deg, #000000, #000000);
}
.cid-tHSo7bQCkH .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-tHSo7bQCkH .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tHSo7bQCkH .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-tHSo7bQCkH .mbr-text {
    text-align: center;
  }
}
.cid-tHSo7bQCkH H1 {
  color: #ffffff;
  text-align: center;
}
.cid-tHSo7bQCkH .mbr-text,
.cid-tHSo7bQCkH .mbr-section-btn {
  text-align: left;
}
.cid-tHSo7bQCkH DIV {
  text-align: left;
}
.cid-tHSo7cdKZz {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tHSo7cdKZz .mbr-section-subtitle {
  color: #000000;
}
.cid-tHSo7cdKZz .btn {
  margin: 0 0 .5rem 0;
}
.cid-tHSo7cdKZz H2 {
  color: #000000;
}
.cid-tHSo7cvAPK {
  padding-top: 75px;
  padding-bottom: 75px;
  background: linear-gradient(0deg, #000000, #000000);
}
.cid-tHSo7cvAPK .mbr-iconfont-social {
  font-size: 32px;
  color: #ff3366;
}
.cid-tHSo7cvAPK .social-list a:focus {
  text-decoration: none;
}
.cid-tHSo7cvAPK H2 {
  color: #ffffff;
}
.cid-tHSo7cWvT9 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tHSo9PwlbC {
  padding-top: 75px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tHSo9PwlbC .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tHSo9PwlbC .btn {
  margin: 0 0 .5rem 0;
}
.cid-tHSo9PwlbC H2 {
  color: #ffffff;
}
.cid-tHSo9PO5zE {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tHSo9PO5zE .mbr-section-subtitle,
.cid-tHSo9PO5zE .mbr-text {
  color: #767676;
}
.cid-tHSo9PO5zE .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-tHSo9PO5zE .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tHSo9PO5zE .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-tHSo9PO5zE .card-wrapper .card-img .mbr-overlay {
  background-color: #000000;
  display: none;
  transition: opacity .3s;
}
.cid-tHSo9PO5zE .card-wrapper .card-img img {
  width: 100%;
}
.cid-tHSo9PO5zE .card-wrapper .card-box {
  background-color: #000000;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-tHSo9PO5zE .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-tHSo9PO5zE .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-tHSo9PO5zE .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-tHSo9PO5zE .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-tHSo9PO5zE .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-tHSo9PO5zE .card-title {
  color: #ffffff;
}
.cid-tHSo9Qq5c6 {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-tHSo9Qq5c6 .mbr-section-subtitle {
  color: #000000;
}
.cid-tHSo9Qq5c6 .btn {
  margin: 0 0 .5rem 0;
}
.cid-tHSo9Qq5c6 H2 {
  color: #000000;
}
.cid-tHSo9QLJsu {
  padding-top: 120px;
  padding-bottom: 105px;
  background-color: #000000;
}
.cid-tHSo9QLJsu .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}
.cid-tHSo9QLJsu .step {
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50%;
  border: 2px solid #149dcc;
  padding-bottom: 0;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .cid-tHSo9QLJsu .separline .step-wrapper {
    position: relative;
  }
  .cid-tHSo9QLJsu .separline .step-wrapper:before,
  .cid-tHSo9QLJsu .separline .step-wrapper:after {
    top: 32px;
    position: absolute;
    content: "";
    height: 2px;
    width: calc(50% + 15px - 30px - 8px);
    background-color: #149dcc;
  }
  .cid-tHSo9QLJsu .separline .step-wrapper:before {
    left: -15px;
  }
  .cid-tHSo9QLJsu .separline .step-wrapper:after {
    left: calc(50% + 8px + 30px);
  }
  .cid-tHSo9QLJsu .separline.last-child .step-wrapper:after,
  .cid-tHSo9QLJsu .separline:nth-child(3n) .step-wrapper:after,
  .cid-tHSo9QLJsu .separline:nth-child(3n+1) .step-wrapper:before {
    background: none;
  }
}
@media (max-width: 767px) {
  .cid-tHSo9QLJsu .card:not(.last-child) {
    padding-bottom: 1.5rem;
  }
}
.cid-tHSo9QLJsu .mbr-step-text {
  color: #ffffff;
}
.cid-tHSo9QLJsu .mbr-section-title {
  color: #000000;
}
.cid-tHSo9RDcoH {
  background-color: #000000;
  background: linear-gradient(45deg, #000000, #000000);
}
.cid-tHSo9RDcoH .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-tHSo9RDcoH .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tHSo9RDcoH .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-tHSo9RDcoH .mbr-text {
    text-align: center;
  }
}
.cid-tHSo9RDcoH H1 {
  color: #ffffff;
  text-align: center;
}
.cid-tHSo9RDcoH .mbr-text,
.cid-tHSo9RDcoH .mbr-section-btn {
  text-align: left;
}
.cid-tHSo9RDcoH DIV {
  text-align: left;
}
.cid-tHSo9RY93l {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tHSo9RY93l .mbr-section-subtitle {
  color: #000000;
}
.cid-tHSo9RY93l .btn {
  margin: 0 0 .5rem 0;
}
.cid-tHSo9RY93l H2 {
  color: #000000;
}
.cid-tHSo9Sgvm7 {
  padding-top: 75px;
  padding-bottom: 75px;
  background: linear-gradient(0deg, #000000, #000000);
}
.cid-tHSo9Sgvm7 .mbr-iconfont-social {
  font-size: 32px;
  color: #ff3366;
}
.cid-tHSo9Sgvm7 .social-list a:focus {
  text-decoration: none;
}
.cid-tHSo9Sgvm7 H2 {
  color: #ffffff;
}
.cid-tHSo9SFtg7 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tHSoasQZaO {
  padding-top: 75px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tHSoasQZaO .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tHSoasQZaO .btn {
  margin: 0 0 .5rem 0;
}
.cid-tHSoasQZaO H2 {
  color: #ffffff;
}
.cid-tHSoat7vS5 {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tHSoat7vS5 .mbr-section-subtitle,
.cid-tHSoat7vS5 .mbr-text {
  color: #767676;
}
.cid-tHSoat7vS5 .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-tHSoat7vS5 .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tHSoat7vS5 .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-tHSoat7vS5 .card-wrapper .card-img .mbr-overlay {
  background-color: #000000;
  display: none;
  transition: opacity .3s;
}
.cid-tHSoat7vS5 .card-wrapper .card-img img {
  width: 100%;
}
.cid-tHSoat7vS5 .card-wrapper .card-box {
  background-color: #000000;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-tHSoat7vS5 .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-tHSoat7vS5 .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-tHSoat7vS5 .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-tHSoat7vS5 .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-tHSoat7vS5 .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-tHSoat7vS5 .card-title {
  color: #ffffff;
}
.cid-tHSoatKQXO {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-tHSoatKQXO .mbr-section-subtitle {
  color: #000000;
}
.cid-tHSoatKQXO .btn {
  margin: 0 0 .5rem 0;
}
.cid-tHSoatKQXO H2 {
  color: #000000;
}
.cid-tHSoau5J8k {
  padding-top: 120px;
  padding-bottom: 105px;
  background-color: #000000;
}
.cid-tHSoau5J8k .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}
.cid-tHSoau5J8k .step {
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50%;
  border: 2px solid #149dcc;
  padding-bottom: 0;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .cid-tHSoau5J8k .separline .step-wrapper {
    position: relative;
  }
  .cid-tHSoau5J8k .separline .step-wrapper:before,
  .cid-tHSoau5J8k .separline .step-wrapper:after {
    top: 32px;
    position: absolute;
    content: "";
    height: 2px;
    width: calc(50% + 15px - 30px - 8px);
    background-color: #149dcc;
  }
  .cid-tHSoau5J8k .separline .step-wrapper:before {
    left: -15px;
  }
  .cid-tHSoau5J8k .separline .step-wrapper:after {
    left: calc(50% + 8px + 30px);
  }
  .cid-tHSoau5J8k .separline.last-child .step-wrapper:after,
  .cid-tHSoau5J8k .separline:nth-child(3n) .step-wrapper:after,
  .cid-tHSoau5J8k .separline:nth-child(3n+1) .step-wrapper:before {
    background: none;
  }
}
@media (max-width: 767px) {
  .cid-tHSoau5J8k .card:not(.last-child) {
    padding-bottom: 1.5rem;
  }
}
.cid-tHSoau5J8k .mbr-step-text {
  color: #ffffff;
}
.cid-tHSoau5J8k .mbr-section-title {
  color: #000000;
}
.cid-tHSoauYp7q {
  background-color: #000000;
  background: linear-gradient(45deg, #000000, #000000);
}
.cid-tHSoauYp7q .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-tHSoauYp7q .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tHSoauYp7q .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-tHSoauYp7q .mbr-text {
    text-align: center;
  }
}
.cid-tHSoauYp7q H1 {
  color: #ffffff;
  text-align: center;
}
.cid-tHSoauYp7q .mbr-text,
.cid-tHSoauYp7q .mbr-section-btn {
  text-align: left;
}
.cid-tHSoauYp7q DIV {
  text-align: left;
}
.cid-tHSoavjzyB {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tHSoavjzyB .mbr-section-subtitle {
  color: #000000;
}
.cid-tHSoavjzyB .btn {
  margin: 0 0 .5rem 0;
}
.cid-tHSoavjzyB H2 {
  color: #000000;
}
.cid-tHSoavBaVJ {
  padding-top: 75px;
  padding-bottom: 75px;
  background: linear-gradient(0deg, #000000, #000000);
}
.cid-tHSoavBaVJ .mbr-iconfont-social {
  font-size: 32px;
  color: #ff3366;
}
.cid-tHSoavBaVJ .social-list a:focus {
  text-decoration: none;
}
.cid-tHSoavBaVJ H2 {
  color: #ffffff;
}
.cid-tHSoavZMu3 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tHSobK8ica {
  padding-top: 75px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tHSobK8ica .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tHSobK8ica .btn {
  margin: 0 0 .5rem 0;
}
.cid-tHSobK8ica H2 {
  color: #ffffff;
}
.cid-tHSobKrrbz {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tHSobKrrbz .mbr-section-subtitle,
.cid-tHSobKrrbz .mbr-text {
  color: #767676;
}
.cid-tHSobKrrbz .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-tHSobKrrbz .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tHSobKrrbz .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-tHSobKrrbz .card-wrapper .card-img .mbr-overlay {
  background-color: #000000;
  display: none;
  transition: opacity .3s;
}
.cid-tHSobKrrbz .card-wrapper .card-img img {
  width: 100%;
}
.cid-tHSobKrrbz .card-wrapper .card-box {
  background-color: #000000;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-tHSobKrrbz .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-tHSobKrrbz .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-tHSobKrrbz .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-tHSobKrrbz .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-tHSobKrrbz .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-tHSobKrrbz .card-title {
  color: #ffffff;
}
.cid-tHSobL6ljS {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-tHSobL6ljS .mbr-section-subtitle {
  color: #000000;
}
.cid-tHSobL6ljS .btn {
  margin: 0 0 .5rem 0;
}
.cid-tHSobL6ljS H2 {
  color: #000000;
}
.cid-tHSobMfraS {
  background-color: #000000;
  background: linear-gradient(45deg, #000000, #000000);
}
.cid-tHSobMfraS .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-tHSobMfraS .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tHSobMfraS .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-tHSobMfraS .mbr-text {
    text-align: center;
  }
}
.cid-tHSobMfraS H1 {
  color: #ffffff;
  text-align: center;
}
.cid-tHSobMfraS .mbr-text,
.cid-tHSobMfraS .mbr-section-btn {
  text-align: left;
}
.cid-tHSobMfraS DIV {
  text-align: left;
}
.cid-tHSobMEH3j {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tHSobMEH3j .mbr-section-subtitle {
  color: #000000;
}
.cid-tHSobMEH3j .btn {
  margin: 0 0 .5rem 0;
}
.cid-tHSobMEH3j H2 {
  color: #000000;
}
.cid-tHSobMXPoX {
  padding-top: 75px;
  padding-bottom: 75px;
  background: linear-gradient(0deg, #000000, #000000);
}
.cid-tHSobMXPoX .mbr-iconfont-social {
  font-size: 32px;
  color: #ff3366;
}
.cid-tHSobMXPoX .social-list a:focus {
  text-decoration: none;
}
.cid-tHSobMXPoX H2 {
  color: #ffffff;
}
.cid-tHSobNmu12 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
